* {
    margin: 0;
    padding: 0;
  }

.welcome-section {
    min-height: 55vh;
    padding-top: 45vh;
}

.intro {
  top: 0;
  background: #e0ebe8;
  min-height: 55vh;
  padding-top: 45vh;
}

.intro p {
  color: green;
}

nav {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}

